apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: h20
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25.3-alpine
        securityContext:
          capabilities:
            drop:
              - all
